@import url('../../assets/css/global.css');

table{
    width: 100%;
    margin-top: 20px;
    table-layout: fixed;
}

table thead td{
    color: var(--light-gray);
    border-bottom: 1px solid var(--lightest-gray);
}

table td{
    padding: 20px;
    /* text-align: center; */
}